@page "/editproduct/{Id}"

@inherits EditProductBase

    <EditForm Model="@Product" OnValidSubmit="@HandleValidSubmit">

        <h3>Edit Employee</h3>
        <hr />

        <div class="form-group row">
            
            <label for="Name" class="col-sm-2 col-form-label">
                Name
            </label>
            
            <div class="col-sm-10">
                <InputText id="Name" 
                           class="form-control" 
                           @bind-Value="Product.Name" />

                <ValidationMessage
                    For="@(() => Product.Name)">
                </ValidationMessage>
            
            </div>
        </div>
        
        <div class="form-group row">
            
            <label for="Description" class="col-sm-2 col-form-label">
                Descreption
            </label>
            
            <div class="col-sm-10">
                <InputTextArea 
                    id="Description" 
                    class="form-control"
                    @bind-Value="Product.Description" />
            </div>

        </div>

        <div class="form-group row">
            <label for="Price" class="col-sm-2 col-form-label">
                Price
            </label>
            <div class="col-sm-10">
                <InputNumber id="Price" class="form-control" @bind-Value="Product.Price"></InputNumber>
            </div>
        </div>

        <div class="form-group row">
            <label for="brand" class="col-sm-2 col-form-label">
                Select Brand
            </label>
            <div class="col-sm-10">
                <CustomInputSelect id="brand" class="form-control" @bind-Value="Product.ProductBrandId">
                    @foreach (var brand in ProductBrands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </CustomInputSelect>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label">
                Select Type
            </label>
            <div class="col-sm-10">
                <CustomInputSelect id="type" class="form-control" @bind-Value="Product.ProductTypeId">
                    @foreach (var type in ProductTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </CustomInputSelect>
            </div>
        </div>
        <button class="btn btn-danger" type="submit">submit </button>
    </EditForm>
