@page "/ProductDeatils/{Id}"

@inherits ProductDeatilsBase

@if (Product == null)
{
    <div class=""></div>
}
else
{
    <h3>Product Details</h3>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Product.Name @MouseCordinates</h1>
                </div>

                <div class="card-body text-center" @onmousemove="@(e=>MouseCordinates=$"x {e.ClientX} y {e.ClientY}")">
                    @*<img class="card-img-top" src="@Product.PictureUrl"/>*@
                    <h4>Employee ID : @Product.Id</h4>
                    <h4>Email : @Product.Price</h4>
                    <h4>Brand : @Product.ProductBrand.Name</h4>
                    <h6>Des: @Product.Description</h6>

                    <button class="btn btn-info" @onclick="@BtnClick">@BtnText</button>
                </div>

                <div class="card-footer text-center @CssHideClass">
                    <a href="/" class="btn btn-primary">Back</a>
                    <a href="@($"editproduct/{Product.Id}")" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}